/*----------------------------*/
/* Google Font */
/*----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*----------------------------*/
/* Basic Setup */
/*----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #fff;
  overflow-x: hidden;
  font-size: 10px;
  font-family: "Kumbh Sans", sans-serif;
}

/*----------------------------*/
/* Main Header Section*/
/*----------------------------*/
header {
  width: 100vw;
}

.navbar {
  width: 100vw;
  padding: 1.6rem 4.8rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-logo {
  width: 15rem;
  height: 15rem;
}

.main-logo img {
  width: 100%;
  height: 100%;
}

/*---------- Hamburger Menu Button --------------*/
.menu-btn {
  width: 5.6rem;
  height: 4rem;
  background: #e4e4e4;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.menu-btn:hover {
  background: #eee;
}

.menu-btn-hamburger {
  width: 3rem;
  height: 0.5rem;
  background: #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.menu-btn-hamburger::before,
.menu-btn-hamburger::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.5rem;
  background: #000;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.menu-btn-hamburger::before {
  transform: translateY(-1rem);
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  -o-transform: translateY(-1rem);
}

.menu-btn-hamburger::after {
  transform: translateY(1rem);
  -webkit-transform: translateY(1rem);
  -moz-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  -o-transform: translateY(1rem);
}

/* Hamburger Button Animation */
.menu-btn.open .menu-btn-hamburger {
  background: transparent;
}

.menu-btn.open .menu-btn-hamburger::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.menu-btn.open .menu-btn-hamburger::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
/*---------- Hamburger Menu Button End --------------*/

.nav-menus {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 85vw;
  padding-left: 10rem;
}

.nav-item {
  padding: 0 2rem 0 0;
}

.nav-link {
  font-size: 1.88rem;
  font-weight: bold;
  color: black !important;
  display: block;
  padding: 0.8rem 1.6rem;
  background: transparent;
  text-decoration: none;
  text-transform: capitalize;
  transition: background 0.3s ease-in !important;
  -webkit-transition: background 0.3s ease-in !important;
  -moz-transition: background 0.3s ease-in !important;
  -ms-transition: background 0.3s ease-in !important;
  -o-transition: background 0.3s ease-in !important;
}

.nav-link:hover {
  background: #ffc758 !important;
  transition: background 0.3s ease-in !important;
  -webkit-transition: background 0.3s ease-in !important;
  -moz-transition: background 0.3s ease-in !important;
  -ms-transition: background 0.3s ease-in !important;
  -o-transition: background 0.3s ease-in !important;
}

.dropdown {
  position: relative;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.2rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  overflow: visible;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  font-size: 1.8rem;
  width: 100%;
  padding: 0.5rem 2.4rem;
  clear: both;
  font-weight: bold;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
}

.dropdown-item:hover {
  background-color: #eeeeee;
  transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
}

/*----------------------------*/
/* Main Container Sections*/
/*----------------------------*/
.container {
  width: 100vw;
  padding: 0 1.5rem 4.8rem;
  display: flex;
  align-items: center;
}

.bg-white {
  background: #fff;
}

.bg-brown {
  background: #eae8e4;
}

.row {
  max-width: 114rem;
  margin: 0 6rem;
  padding: 4.8rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.container-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 4.8rem;
}

/*----------------------------*/
/* First Container Section*/
/*----------------------------*/
.first-container-heading {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.first-container-heading h1 {
  color: #404040;
  font-size: 4.6rem;
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}

.first-container-heading h1 a {
  text-decoration: none;
  color: #404040;
  background: transparent;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.first-container-heading h1 a:hover {
  color: #0056b3;
  background: #ffc658;
}

.first-container-heading h2 {
  color: #404040;
  font-size: 2rem;
  margin: 0;
  margin-top: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
}

.first-container-body .first-column {
  width: 66.6667% !important;
  padding: 0 1.5rem;
}

.first-container-body .first-column iframe {
  width: 100% !important;
  height: 40rem;
  border: 0;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.first-container-body .second-column {
  width: 33.3333% !important;
  padding: 0 1.5rem;
}

.first-container-body .second-column p {
  font-size: 2rem;
  color: #606060;
  font-weight: 400;
  line-height: 1.5;
}

.first-container-body .second-column p:first-child {
  padding-top: 1rem;
}

/*----------------------------*/
/* Second Container Section*/
/*----------------------------*/
.second-container {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem !important;
}

.second-container-body .first-column {
  width: 41.66667%;
  padding: 0 1.5rem;
}

.second-container-body .first-column h2 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 0.5rem 0 5rem !important;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000;
  position: relative;
}

.second-container-body .first-column h2::after {
  content: "";
  width: 10%;
  height: 0.3rem;
  background-color: #000;
  position: absolute;
  top: 140%;
  left: 0;
}

.second-container-body .first-column ul {
  list-style-type: circle;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 4rem;
}

.second-container-body .first-column ul li a {
  color: #ff5722;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.5;
}

.second-container-body .first-column ul li a:hover {
  color: rgb(90, 90, 255);
}

.second-container-body .second-column {
  width: 58.33333%;
  padding: 4.8rem 1.5rem 0;
}

.second-container-body .second-column p {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #232323;
}

.second-container-body .second-column p:first-child {
  padding-top: 4rem;
}

/*----------------------------*/
/* Third Container Section*/
/*----------------------------*/
.third-container-body .first-column {
  width: 50%;
  padding: 4.8rem 1.5rem 0;
}

.third-container-body .first-column h2 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 0.5rem 0 2.5rem !important;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000;
}

.third-container-body .first-column p {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #696969;
}

.third-container-body .second-column {
  width: 50%;
  padding: 4.8rem 1.5rem 0;
}

.third-container-body .second-column img {
  width: 100% !important;
  vertical-align: middle;
  border-style: none;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.third-container-body .second-column img:hover {
  box-shadow: 0 5rem 5rem -2.5rem rgb(0 0 0 / 30%);
  transform: rotate(-2deg) scale(1.03);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

/*----------------------------*/
/* Fourth Container Section*/
/*----------------------------*/
.fourth-container-body .first-column {
  width: 100%;
  padding: 4.8rem 0 0;
}

.fourth-container-body .first-column h2 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 0.5rem 0 2.5rem !important;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000;
}

.fourth-container-body .first-column p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #232323;
}

/*----------------------------*/
/* Fifth Container Section*/
/*----------------------------*/
.fifth-container-body .first-column {
  width: 50%;
  padding: 4.8rem 1.5rem 0;
}

.fifth-container-body .first-column h2 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 0.5rem 0 2.5rem !important;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000;
}

.fifth-container-body .first-column p {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #696969;
}
.fifth-container-body .second-column {
  width: 50%;
  padding: 4.8rem 1.5rem 0;
}

.fifth-container-body .second-column iframe {
  width: 100%;
  height: 60rem;
  border: none !important;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

/*----------------------------*/
/* Sixth Container Section*/
/*----------------------------*/
.sixth-container-body .first-column {
  width: 100%;
  padding: 4.8rem 0 0;
}

.sixth-container-body .first-column h2 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 0.5rem 0 2.5rem !important;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000;
}

.sixth-container-body .first-column p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #232323;
}

/*----------------------------*/
/* Seventh Container Section*/
/*----------------------------*/
.seventh-container-body .first-column {
  width: 100%;
  padding: 4.8rem 0 0;
}

.seventh-container-body .first-column h2 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 0.5rem 0 2.5rem !important;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000;
}

.seventh-container-body .first-column p {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #696969;
}

/*----------------------------*/
/* Footer Section*/
/*----------------------------*/
footer {
  background: black;
  color: white;
}

.footer-container {
  max-width: 140rem;
  padding: 4.8rem 1.5rem 2.4rem;
}

.footer-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footer-row .first-column,
.footer-row .second-column,
.footer-row .third-column,
.footer-row .fourth-column {
  width: 25%;
  padding: 0 1.5rem;
}

.footer-row .first-column p,
.footer-row .second-column p,
.footer-row .third-column p,
.footer-row .fourth-column p {
  color: #fff;
  margin: 0;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  background: transparent;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  -moz-transition: all 0.3s ease-in !important;
  -ms-transition: all 0.3s ease-in !important;
  -o-transition: all 0.3s ease-in !important;
}

.footer-link:hover {
  background: #ffc758 !important;
  color: #000;
  font-weight: 600;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  -moz-transition: all 0.3s ease-in !important;
  -ms-transition: all 0.3s ease-in !important;
  -o-transition: all 0.3s ease-in !important;
}

.icon-button {
  text-decoration: none;
}

.icon-button i {
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}

.icon-button i:hover {
  color: #52ffe8;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*----------------------------*/
/* Sitemap Page*/
/*----------------------------*/
.top-se {
  min-height: 80vh;
  max-width: 114rem;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#top {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #232323;
}

#top h3 {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #232323;
}

#cont ul {
  list-style-type: circle;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 4rem;
}

#cont ul li {
  margin-bottom: 0.5rem !important;
}

#cont ul li a {
  text-decoration: none;
  color: blue;
}

#cont ul li a:hover {
  color: #232323;
}

/*----------------------------*/
/* Media Queries For Responsiveness*/
/*----------------------------*/
@media only screen and (max-width: 1190px) {
  .nav-item {
    padding: 0 1rem 0 0;
  }

  .nav-link {
    font-size: 1.7rem;
    padding: 0.5rem 1.2rem;
  }

  .dropdown-menu {
    left: -5rem;
  }

  .dropdown-item {
    font-size: 1.7rem;
    padding: 0.5rem 2rem;
  }

  .second-container-body .first-column h2 {
    font-size: 3.5rem !important;
  }

  .container-body .first-column h2 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 1080px) {
  html,
  body {
    font-size: 9.5px;
  }

  .dropdown-menu {
    left: -8rem;
  }

  .icon-button i {
    font-size: 1.9rem;
    padding: 0.8rem;
  }
}

@media only screen and (max-width: 990px) {
  html,
  body {
    font-size: 9px;
  }

  .navbar {
    display: grid;
    grid-template-columns: repeat(2, 48.5vw);
    position: relative;
    padding: 1.6rem 1rem;
  }

  .menu-btn {
    display: flex;
    z-index: 999;
    justify-self: flex-end;
  }

  .nav-menus {
    margin: 0 auto;
    padding: 0;
    height: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 97vw !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  .nav-menus.show {
    height: 9rem;
    background: #e3e3e3;
    overflow: inherit !important;
  }

  .dropdown-menu.show {
    z-index: 99999;
    overflow-wrap: normal;
  }

  .container {
    padding: 0 0 4.8rem;
  }

  .row {
    max-width: 114rem;
    min-width: 88vw;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container-body {
    flex-direction: column;
  }

  .container-body .first-column {
    width: 100% !important;
    margin-bottom: 3rem;
  }

  .container-body .second-column {
    width: 100% !important;
  }

  .footer-row .first-column,
  .footer-row .second-column,
  .footer-row .third-column,
  .footer-row .fourth-column {
    padding: 0 1rem;
  }

  .footer-row .first-column p,
  .footer-row .second-column p,
  .footer-row .third-column p,
  .footer-row .fourth-column p {
    font-size: 1.5rem;
  }

  .icon-button i {
    font-size: 1.6rem;
    padding: 0.6rem;
  }
}

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 8px;
  }

  .footer-row .first-column {
    width: 30%;
  }

  .footer-row .third-column {
    width: 20%;
  }
}

@media only screen and (max-width: 620px) {
  html,
  body {
    font-size: 7px;
  }

  .nav-item {
    padding: 0 0.4rem 0 0;
  }

  .nav-link {
    padding: 0.4rem 1rem;
  }

  .dropdown-menu {
    left: -10rem;
  }

  .dropdown-item {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
  }

  .footer-row {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .footer-row .first-column,
  .footer-row .second-column,
  .footer-row .third-column,
  .footer-row .fourth-column {
    width: 100%;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 500px) {
  .nav-link {
    font-size: 1.4rem;
    padding: 0.4rem 0.8rem;
  }
  .dropdown-item {
    font-size: 1.3rem;
    padding: 0.5rem 1.2rem;
  }
}

@media only screen and (max-width: 400px) {
  html,
  body {
    font-size: 6px;
  }

  .nav-link {
    font-size: 1.25rem;
    padding: 0.4rem 0.6rem;
  }
  .dropdown-item {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
  }

  .footer-row {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
  .footer-row .first-column,
  .footer-row .second-column,
  .footer-row .third-column,
  .footer-row .fourth-column {
    width: 100%;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 300px) {
  html,
  body {
    font-size: 5.5px;
  }

  .nav-link {
    font-size: 1.15rem;
    padding: 0.4rem 0.5rem;
  }
  .dropdown-item {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
